/solomonClientLib/nbproject/private/
/solomonClientLib/build/
/SolomonServer/nbproject/private/
/SolomonServer/build/
/SolomonServer/dist/
/solcon/nbproject/private/
/solomonClientLib/dist/
/solcon/build/
/dumpPlayerList/nbproject/private/
/dumpPlayerList/build/
/dumpPlayerList/dist/