/solomonClientLib/nbproject/private/
/solomonClientLib/build/
/SolomonServer/nbproject/private/
/SolomonServer/build/
/SolomonServer/dist/
/solcon/nbproject/private/
/solomonClientLib/dist/
/solcon/build/
/dumpPlayerList/nbproject/private/
/dumpPlayerList/build/
/dumpPlayerList/dist/
/genericClient/nbproject/private/
/genericClient/build/
/genericClient/dist/
solomonClientLib/dependencies/.DS_Store
solomonClientLib/dependencies/lib/.DS_Store
SolomonClient/docs/Solomon_Client_Model.uml~
SolomonServer/docs/Solomon_Server_Model.uml~
SolomonServer/docs/SolomonServer_FuncSpec.odt
.DS_Store
todo.txt~
todo.txt